.table_wrapper {
  scrollbar-width: thin;
}

.table_wrapper ::-webkit-scrollbar {
  height: 15px;
  width: 15px; 
}

.table_wrapper ::-webkit-scrollbar-track {
  background: var(--text-color);
  border-radius: 15px; 
}

.table_wrapper ::-webkit-scrollbar-thumb {
  background-color: var(--track-color);
  border: 3px solid var(--text-color);
  border-radius: 15px; 
}

.table_wrapper ::-webkit-scrollbar-corner {
  background-color: transparent;
}

.table_scroll_container {
  height: 85vh;
  width: 95vw;
  overflow: auto;
  margin-top: 10px;
}

.table_wrapper table {
  border: 1px solid var(--text-color);
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.table_wrapper td,
.table_wrapper th {
  padding: 4px;
  border-bottom: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

.table_wrapper th > div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-width: 150px;
  align-items: center;
}
