table {
  border: 1px solid var(--text-color);
  border-collapse: separate;
  border-spacing: 0;
}

td,
th {
  padding: 4px;
  border-bottom: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

th>div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-width: 150px;
}

th>div>button {
  width: 20px;
  height: 20px;
  font-size: 25px;
  font-weight: 700;
}